@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

:root {
    --spinner-animation-time: 2s;
}

.Spinner {
    vertical-align: middle;
    text-align: center;
}

.SpinnerInner {
    display: block;

    animation: spin var(--spinner-animation-time) linear infinite forwards;
    animation-play-state: running;
}