.User {
    align-items: center;
}

.UserSizeS {
    --badge-icon-size: 1.5rem; /* as `Circle` dimensions */
}

.UserSizeM {
    --badge-icon-size: 2rem; /* as `Circle` dimensions */
}

.UserPicWrapper {
    overflow: hidden;
}

.UserImage {
    width: 100%;
    height: auto;
}

.User_short {
    padding: 0;   
}

.UserName {
    font-size: var(--font-size-s);
    line-height: 1rem;
    color: var(--text-primary);
    text-overflow: ellipsis;
    overflow: hidden;
}

.UserNameColorInherit {
    color: inherit;
}
