.User {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.UserPicWrapper {
    overflow: hidden;
}

.UserImage {
    width: 100%;
    height: auto;
}

.UserName {
    font-size: var(--font-size-s);
    line-height: 1rem;
    margin-left: var(--gap-s);
    color: var(--text-primary);
}

.UserNameColorInherit {
    color: inherit;
}