##### OS FILES
.DS_Store
.history

##### Editors
.*.swp
.idea
.vscode
.vs
*.iml
*.sublime-project
*.sublime-workspace

##### BUILD
/context
/components
/hooks
/utils
/es
/index.js*
/index.d.ts*
/types
node_modules/
npm-debug.log
tsconfig.tsbuildinfo
.release_bot
storybook-static
