.DatePickerOption {
    display: flex;
    gap: var(--gap-s);

    margin-bottom: var(--gap-sm);
}

.DatePickerOptionLabel {
    width: 94px;
    font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
.DatePicker input::-webkit-outer-spin-button,
.DatePicker input::-webkit-inner-spin-button,
.DatePicker input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  user-select: none;
  pointer-events: none;
  height: 0;
  width: 0;
  display: none;
}

.DatePicker input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
}

/* Firefox */
.DatePicker input[type=number] {
    -moz-appearance: textfield;
}

.DatePickerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.DatePickerHintIcon.DatePickerHintIcon {
    color: var(--gray-900);
    background-color: var(--text-secondary);

    border-radius: 100%;
}

.DatePickerResetControl {
    font-size: var(--font-size-xs);
    cursor: pointer;
    border-bottom: 1px dotted currentColor;
    margin-left: auto;
}

.DatePickerInlineWrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.DatePickerInlineGap {
    gap: var(--gap-xs);
}

.DatePickerQuarter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.DatePickerQuarterAlias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.DatePickerStrictDateInput {
    width: 4ch;
    text-align: center;
}

.DatePickerStrictDateInput input {
    text-align: center;
}

.DatePickerStrictDateInput + .DatePickerStrictDateInput input {
    padding-left: 0;
}

.DatePickerStrictDateInput.DatePickerStrictDateInput {
    margin-left: 0;
}

.DatePickerYearInput {
    width: 6ch;
    text-align: center;
    
}

.DatePickerYearInput.DatePickerYearInput {
    margin-left: 0;
}

.DatePickerInlineWrapper + .DatePickerInlineWrapper,
.DatePickerQuarter + .DatePickerQuarterAlias {
    margin-top: var(--gap-xs);
}

.DatePickerStrictDateAdvice {
    /* correct alignment by right column */
    padding-left: calc(94px + var(--gap-s));
    color: var(--text-secondary);
    margin-bottom: var(--gap-sm);
}

.DatePickerWarningMessage {
    box-sizing: border-box;
    margin-top: var(--gap-sm);
    padding: var(--gap-s);
    width: 100%;
    background-color: var(--gray-900);
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: var(--radius-m);
}

.DatePickerStrictInputSplitter {
    display: inline-flex;
    padding: var(--gap-xs);
    background-color: var(--input-fill-borderless);
    color: var(--text-secondary);
    height: 32px;
    box-sizing: border-box;
}
