.Tooltip {
    font-size: var(--font-size-s);
    line-height: var(--line-height-xxl);
    padding: var(--gap-s) var(--gap-sm);
}

.Tooltip_primary {
    color: var(--text-primary);
    background: var(--layer-above);
}

.Tooltip_success {
    color: var(--primary-900);
    background: var(--primary-400);
}

.Tooltip_danger {
    color: var(--danger-950);
    background: var(--danger-500);
}

.Tooltip_warning {
    color: var(--warn-950);
    background: var(--warn-500);
}

.Tooltip_primary [data-popper-arrow]::before {
    background: var(--layer-above);
}

.Tooltip_success [data-popper-arrow]::before {
    background: var(--primary-400);
}

.Tooltip_danger [data-popper-arrow]::before {
    background: var(--danger-500);
}

.Tooltip_warning [data-popper-arrow]::before {
    background: var(--warn-500);
}
