.Group {
    display: flex;
    align-items: center;
}

.Group_interactive .GroupItem:hover {
    z-index: 1;
}

.GroupItem {
    display: inline-flex;
}

.Group_overlay_xs .GroupItem + .GroupItem {
    margin-left: calc(-1 * var(--gap-xs));
}

.Group_overlay_s .GroupItem + .GroupItem {
    margin-left: calc(-1 * var(--gap-s));
}
