.Input {
    position: relative;
    border: 1px solid transparent;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    border-radius: var(--radius-m);
    transition: 200ms ease-in;
    transition-property: border, color, background;
    width: 100%;
    background: var(--input-fill-borderless);
    color: var(--text-primary);
    padding-inline: 0;
    padding-block: 0;

    font: inherit;
}

.Input:focus-visible {
    background: var(--input-fill-focused-borderless);
}

.Input::-webkit-datetime-edit,
.Input::placeholder {
    color: var(--text-ghost);
}

.Input_Filled::-webkit-datetime-edit {
    color: var(--text-primary);
}

.Input_outline:hover {
    border-color: var(--input-border-hovered);
}

.Input_outline.Input {
    border-color: var(--input-border);
    background: var(--input-fill);
}

.Input_outline.Input:focus-visible {
    border-color: var(--input-border-focused);
    background: var(--input-fill-focused);
}

.Input.Input_success {
    border-color: var(--primary-500);
    background: var(--primary-900);
    color: var(--primary-400);
}

.Input.Input_success:focus-visible {
    border-color: var(--primary-500);
    background: var(--primary-900);
    color: var(--primary-400);
}

.Input.Input_success::placeholder,
.Input::-webkit-datetime-edit.Input_success {
    color: var(--primary-700);
}

.Input.Input_success:focus-visible + .Icon {
    color: var(--primary-500);
}

.Input.Input_danger {
    border-color: var(--danger-500);
    background: var(--danger-900);
    color: var(--danger-400);
}

.Input.Input_danger:focus-visible {
    border-color: var(--danger-500);
    background: var(--danger-900);
    color: var(--danger-400);
}

.Input.Input_danger::placeholder,
.Input::-webkit-datetime-edit.Input_success {
    color: var(--danger-700);
}

.Input.Input_danger:focus-visible + .Icon {
    color: var(--danger-500);
}

.Input_outline.Input:disabled {
    border-color: var(--input-border-disabled);
    background: var(--input-disabled);
    color: var(--text-disabled);
}

.Input:focus {
    outline: none;
}

.Input:disabled {
    background: var(--input-disabled-borderless);
    color: var(--text-disabled);
}

.Input:disabled::placeholder {
    color: var(--text-disabled);
}

.InputWrapper {
    position: relative;
    display: flex;
}

.InputWrapper_icon_left .Input {
    padding-left: var(--gap-l);
}

.InputWrapper_icon_right .Input {
    padding-right: var(--gap-l);
}

.Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    color: var(--text-ghost);
    transition: color 200ms ease-in-out 0s;
    pointer-events: var(--input-pointer-events, auto);
}

.Input_danger ~ .Icon {
    color: var(--danger-500);
}

.Input_success ~ .Icon {
    color: var(--primary-500);
}

.Icon_left {
    left: var(--gap-s);
}

.Icon_right {
    right: var(--gap-s);
}

.InputWrapper_brick + .InputWrapper_brick {
    margin-left: 1px;
}

.Input_brick_center {
    border-radius: 0;
}

.Input_brick_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.Input_brick_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.Input_brick_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.Input_brick_bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.Input_size_xs {
    font-size: var(--font-size-xs);
    padding: 0 var(--gap-sm);
    height: 24px;
}

.Input_size_xs:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-sm) * 2);
}

.InputWrapper_icon_right .Input.Input_size_xs:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-l) + var(--gap-sm) * 2);
}

.Input_size_s {
    font-size: var(--font-size-s);
    padding: 0 var(--gap-sm);
    height: 32px;
}

.Input_size_s:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-sm) * 2);
}

.InputWrapper_icon_right .Input.Input_size_s:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-l) + var(--gap-sm) * 2);
}

.Input_size_m {
    font-size: var(--font-size-m);
    padding: 0 var(--gap-m);
    height: 40px;
}

.Input_size_m:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-m) * 2);
}

.InputWrapper_icon_right .Input.Input_size_m:is(
    [type="date"],
    [type="datetime-local"],
    [type="datetime"],
    [type="month"],
    [type="time"],
    [type="week"]
) {
    padding-right: calc(1em + var(--gap-l) + var(--gap-m) * 2);
}

.Input:read-only {
    background: var(--input-readonly);
    color: var(--text-primary);
    border-color: var(--input-border);
}

.Input:focus-visible ~ .Icon {
    color: var(--text-secondary);
}

.Input::-webkit-calendar-picker-indicator {
    display: inline-flex;
    color: transparent;
    background-image: none;
    background-size: 1em 1em;
    background-color: var(--text-ghost);
    margin: 0;
    padding: 0;
    margin-left: 0.25em;
    cursor: pointer;
    position: absolute;
    right: 1em;
}

.InputWrapper_icon_right .Input::-webkit-calendar-picker-indicator {
    right: 2em;
}

.Input::-webkit-calendar-picker-indicator {
    -webkit-mask-image: url(../../../node_modules/teenyicons/outline/calendar.svg);
    mask-image: url(../../../node_modules/teenyicons/outline/calendar.svg);
}

.Input[type="time"]::-webkit-calendar-picker-indicator {
    -webkit-mask-image: url(../../../node_modules/teenyicons/outline/clock.svg);
    mask-image: url(../../../node_modules/teenyicons/outline/clock.svg);
}