.Dot {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--dot-background);
    /* align by middle of first line */
    vertical-align: 0.15em;
}

.DotSmall {
    width: 0.375rem;
    height: 0.375rem;
}

.DotMedium {
    width: 0.5rem;
    height: 0.5rem;
}

.DotLarge {
    width: 0.625rem;
    height: 0.625rem;
}
