.Circle {
    border-radius: 100%;
    display: inline-block;
    text-align: center;

    letter-spacing: -1.5px;
    font-weight: 500;

    line-height: 1.5rem;
    user-select: none;

    background-image: linear-gradient(to right, var(--circle-main-color), var(--circle-secondary-color));

    font-size: var(--circle-font-size);
    width: var(--circle-diameter);
    min-width: var(--circle-diameter);
    height: var(--circle-diameter);
}

.CircleDarken {
    color: var(--base-white);
}

.CircleLighten {
    color: var(--base-dark);
}

.CircleSizeXs {
    --circle-font-size: 0.5rem;
    --circle-diameter: 1.125rem;
}

.CircleSizeS {
    --circle-font-size: 0.625rem;
    --circle-diameter: 1.5rem;
}

.CircleSizeM {
    --circle-font-size: 0.825rem;
    --circle-diameter: 2rem;
}
