.Tag {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
    min-height: 24px;
    white-space: nowrap;
    user-select: none;
    color: var(--text-secondary);
    font-size: var(--font-size-xs);
    background: var(--gray-900);
    border-radius: var(--radius-m);
    padding-left: var(--gap-sm);
    transition: color 200ms ease-in;
}

.Tag.Tag_primary {
    color: var(--text-primary);
}

.Tag_interactive {
    padding-right: var(--gap-sm);
}

.Tag_hovered:hover {
    color: var(--text-primary);
    cursor: pointer;
}

.Tag_rounded {
    border-radius: var(--radius-xl);
}

.Tag_rounded .Button {
    border-top-right-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
}

.Button {
    --button-secondary-text: var(--text-secondary);
}

.Button:hover {
    --button-secondary-text: var(--text-primary);
}
