.Footer {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 6fr) 0fr;
    align-items: center;
    padding: 20px 40px;
    color: var(--text-secondary);
}

.FooterMenu {
    display: flex;
}

.FooterItem {
    padding: 0px var(--gap-s);
}