.Textarea {
    border: none;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    font-family: var(--font-display);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    border-radius: var(--radius-m);
    padding: var(--gap-s) var(--gap-sm);
    transition: 200ms ease-in;
    transition-property: border, color, background;
}

.Textarea:focus {
    outline: none;
}

.Textarea:disabled {
    background: var(--input-disabled-borderless);
    color: var(--text-disabled);
}

.Textarea:disabled::placeholder {
    color: var(--text-disabled);
}

.Textarea_default {
    background: var(--input-fill-borderless);
    color: var(--text-primary);
}

.Textarea_default:focus-visible {
    background: var(--input-fill-focused-borderless);
}

.Textarea_default::placeholder {
    color: var(--text-ghost);
}

.Textarea_outline.Textarea_default {
    border-color: var(--input-border);
    background: var(--input-fill);
}

.Textarea_outline.Textarea:disabled {
    border-color: var(--input-border-disabled);
    background: var(--input-disabled);
    color: var(--text-disabled);
}

.Textarea_outline.Textarea_default:focus-visible {
    border-color: var(--input-border-focused);
    background: var(--input-fill-focused);
}

.Textarea_success {
    border-color: var(--primary-500);
    background: var(--primary-900);
    color: var(--primary-400);
}

.Textarea_success:focus-visible {
    border-color: var(--primary-500);
    background: var(--primary-900);
}

.Textarea_success::placeholder {
    color: var(--primary-400);
}

.Textarea_danger {
    border-color: var(--danger-500);
    background: var(--danger-900);
    color: var(--danger-400);
}

.Textarea_danger:focus-visible {
    border-color: var(--danger-500);
    background: var(--danger-900);
}

.Textarea_danger::placeholder {
    color: var(--danger-500);
}

.Textarea_brick_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.Textarea_brick_bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.Textarea_brick_center {
    border-radius: 0;
}

.Textarea_outline {
    border-width: 1px;
    border-style: solid;
}
