.UserGroup {
    display: flex;
    line-height: 1.5rem;
}

.UserGroupItem {
    position: relative;
}

.UserGroupItem:hover {
    z-index: 1;
}

.UserGroupItem:last-of-type {
    margin-right: 0.125rem;
}

.UserGroupItem + .UserGroupItem {
    margin-left: -0.625rem;
}