.Alert {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-m);
    gap:var(--gap-xs);
    padding: var(--gap-xs) var(--gap-sm);
}

.Alert_default {
    background: var(--gray-900);
    color: var(--text-primary);
}

.Alert_danger {
    color: var(--danger-300);
    background: var(--danger-900);
}

.Alert_warning {
    color: var(--warn-300);
    background: var(--warn-900);
}
