.Badge {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;

    --badge-icon-size: 1em;
}

.BadgeOutlined {
    border: 1px solid currentColor;
    border-radius: var(--radius-xl);
}

.BadgeIcon {
    display: inline-block;
    line-height: 1;
    max-width: var(--badge-icon-size);
    height: var(--badge-icon-size);
    text-align: center;
}

.BadgeIconLeft {
    margin-right: var(--gap-s);
}

.BadgeIconRight {
    margin-left: var(--gap-s);
}

.BadgeSizeS {
    padding: 1px 4px;
}
.BadgeSizeM {
    padding: 2px 8px;
}
.BadgeSizeL {
    padding: 3px 12px;
}
.BadgeSizeXl {
    padding: 4px 16px;
}
