.Switch {
    position: relative;
    background-color: var(--switch-backgound);

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;

    border-radius: 0.375rem;
}

.SwitchControl {
    position: relative;
    z-index: 1;
    color: var(--switch-text-default);
}

.SwitchControl_animated {
    transition: color var(--transition-time) var(--transition-func);
}

.SwitchControl_active {
    color: var(--switch-text-hovered);
}

.SwitchControl:not(:disabled):hover {
    background: transparent;
    color: var(--switch-text-hovered);
}

.SwitchPin {
    position: absolute;
    top: 0;
    height: 100%;

    border-radius: 0.375rem;
    background-color: var(--switch-background-active);
}

.SwitchPin_animated {
    transition: all var(--transition-time) var(--transition-func);
}