.Md a {
    color: inherit;
    text-decoration: underline;

    transition: color cubic-bezier(0.3, 0, 0.5, 1) 0.1s;

    cursor: pointer;
}

.Md a:hover {
    color: var(--blue-500);
}

.Md img {
    max-width: 100%;
    border-radius: var(--radius-m);
    cursor: pointer;
}

.Md p {
    hyphens: auto;
}